.article {
max-width: 700px;
padding: 0 10px 30px;
margin: 0 auto;


   // .article__title
   &__image{
      max-width: 100%;
      margin: 10px 0;
      overflow: auto;
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
      }
   }
   &__title {
      font-size: 34px;
      font-weight: 700;
      line-height: 50 / 34 * 100%;
      margin: 0px 0px 30px 0px ;
      @media (max-width:767px) {
         font-size: 30px;
      }
   }

   // .article__info

   &__info {
      display: flex;
      align-items: center;
      margin: 0px 0px 20px 0px ;
   }

   // .article__year

   &__year {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      height: 25px;
      border-radius: 16px;
      background-color: #ff7c7c;
      padding: 0 10px;
      font-size: 18px;
      font-weight: 900;
   }

   // .article__category

   &__category {
      align-self: center;
      line-height: 25 / 20 * 100%;
      font-size: 20px;
      margin: 0px 0px 0px 25px;
      @media (max-width:767px) {
         font-size: 18px;
      }
   }

   // .article__text

   &__text {
      
      p{
         font-size: 16px;
         line-height: 23 / 16 * 100%;
         margin: 10px 0px 20px 0px ;
         
      }
   }

   // .article__image

   
}
